<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>vue-boolzapp</title>

</head>
<body>
    
    <div id="app">
         <section class="section">
            <div class="container-1 app">
                <main class="row ">
                    <div class="content col-4">
                        <section class="section-one">
                            <img src="./img/avatar_io.jpg" id="avatar" width="40" height="40" alt="avatar_io">
                             Solange Guzman  
                                <span class="icon-3">
                                    <i class="fas fa-circle-notch"></i>
                                    <i class="fas fa-comment-alt"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                        </section> 
                   </div>
                   <!-- tutto sopra ok -->
                    
                   
                    <div class="content col-8">
                          <section  class="section-two">
                            <span>
                                <img :src="imgprof" alt="" id="avatar" width="40" height="40">
                            </span>    
                                <span>
                                    <strong>{{contacts[user].name}}</strong>  
                                    <span> ultimo accesso</span>
                                </span>
                            
                            <span id="icon-2">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </span>
                          </section>
                    </div> 
                    <!-- fine nav -->

                    <!-- inizio sidebar -->
                  <div class="sidebar col-3"> 
                     <section class="alert">
                         <div class="col-xs-1" >
                              <!-- inizio  -->
                             <div class="alert-mess">
                               <!-- bell slash (campana) -->
                               <span class="camp">
                                  <i class="fas fa-bell-slash"></i>
                               </span>
                               <strong>ricevi notifiche di nuovi messaggi</strong>   
                                <u id="desk">attiva notifiche desktop</u>
                             </div>    
                          </div> 
                      </section>
                        <!-- search importante -->
                       <div id="search">
                          <i class="fas fa-search" id="icon-3"></i>
                          <input v-model="filter" class="input" id="inputlupa" type="text" placeholder="cerca o inizia una nuova chat" @keyup="filtconts()">
                        </div>
                         <!-- prova -->
                   
                   

                        <br>
                          <!-- lista utenti da cambiare-->
                        <div class="list-box">
                            <div  v-for="(contact,index) in filtcon" @click="moveTo(index)">
                                <img :src="returniMg(contact)" class="img" alt="img">
                                    <h6 class="listname">{{contact.name}}</h6>
                                    <div class="msnL">{{contact.messages[contact.messages.length -1].text}}</div>
                                    <div class="date"> {{contact.messages[contact.messages.length-1].date}}</div>
                            </div>
                        </div>
                  </div>
                        <!-- <ul>
                        <li>
                            <img src="./img/avatar_1.jpg" alt="Michele" id="avatar" width="40" height="40">
                            <strong>Michele</strong> 
                        </li>
                        <hr id="hr-h">
                        <li>
                            <img src="./img/avatar_2.jpg" alt="Fabio" id="avatar" width="40" height="40">
                            <strong>Fabio</strong> 
                        </li>
                        <hr id="hr-h">
                        <li>
                            <img src="./img/avatar_3.jpg" alt="Samuele" id="avatar" width="40" height="40">
                            <strong>Samuele</strong>   
                        </li>
                        <hr id="hr-h">
                        <li>
                            <img src="./img/avatar_4.jpg" alt="Luisa" id="avatar" width="40" height="40">
                            <strong>Luis</strong> 
                        </li> 
                      </ul> -->
                     <!-- </div>  
                       <br>
                       <br>
                       <br>
                      </div> -->
                    
                   <!-- sezione messaggi -->
                    <div class="section-bg">
                        <div v-for="(message, index) in contacts[user].messages":class="status.sent">
                                <div class="color-green" :class="status.received">
                                    <div>{{message.text}}</div>
                                    <div class="date">{{message.date}}</div>
                                </div>    
                                    
                                <div class="color-white" :class="status.sent">
                                    <div>{{message.text}}</div>
                                    <div class="date">{{message.date}}</div>
                                </div>     
                        </div>
                        
                        <!-- ---------------- -->    
                   </div>
                </main>
                <div class="row bg-row-ft">
                  <div class="col-3">
                    <section class="bg-ft">
                            <span id="hr-1"> 
                                 
                            </span>
                    </section> 
                 </div>

                 <div class="col-8">
                      <section>
                        <div class="row align-items-center border-msn">
                            <div class="col-1">
                                <div id="icon">
                                    <i class="far fa-smile"></i>
                                </div>
                            </div>
                            <div class="col-10">
                                <div>
                                    <input @keyup.enter="sMsn()" v-model="mSn" class="input-2" id="msn-ft" id="message"
                                        type="text" placeholder="Scrivi un messaggio">
                                </div>
                            </div>
                            <div class="col-1">
                                <div id="icon">
                                    <i class="fas fa-microphone"></i>
                                </div>
                            </div>
                        </div>
                      </section>
                 </div>
              </div>
             <!-- <footer ></footer> -->
         </div> 
            
    </div>
     
     
     
    

    <script src="script.js"></script>  
</body>
</html>